* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #dedede;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.input-group-addon {
  padding: 6px 12px 6px 0;
  background-color: transparent !important;
  border: none !important;
}

.well-drag {
  background-color: transparent;
  box-shadow: none;
  border-color: #e9e9e9;
  display: inline-block;
  width: 100%;
}

.well-drop {
  background-color: #729fcc;
}

.well-drop * {
  color: white !important;
}

.well-general {
  background-color: #fafafa;
  box-shadow: none;
  border-color: #e9e9e9;
  display: inline-block;
  width: 100%;
}

textarea {
  resize: vertical;
}

.dragdrop-file {
  padding: 0;
  margin-bottom: 10px;
}

.dd-icon {
  padding: 0;
  height: 34px;
}

.dd-icon i {
  position: relative;
  top: 7px;
}

.dd-percent {
  position: absolute;
  top: 42%;
  left: 50%;
  background-color: #e3efff;
  height: 10px;
  width: 50%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #319ed4;
}

.dd-percent-loaded {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #319ed4;
  height: 10px;
  width: 0;
}

.dd-delete {
  text-align: right;
  height: 34px;
}

.dd-delete button {
  position: relative;
  top: 7px;
}

label {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  border-bottom: 1px solid #f0f0f0;
  display: block;
}

.animations {
  border-top: 1px solid #e8e8e8;
  margin-top: 20px;
  padding-top: 40px;
}

.fileitem {
  border-top: 1px solid #ccc;
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 5px;
}

.fileitem input {
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.fileitem img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.fileitem .btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.col-sm-animation {
  float: left;
  position: relative;
  min-height: 1px;
  width: 14.28%;
  padding-left: 5px;
  padding-right: 5px;
}