#privacybackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1002;
}

#privacycontent {
  position: relative;
  width: 60%;
  height: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

#privacycontent .content {
  height: 90%;
}

#privacycontent .padder {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#privacycontent .scrollme {
  padding-right: 20px;
}

#privacycontent .textscroll {
  position: absolute;
  top: 0;
  background-color: #CCC;
  width: 8px;
  right: 5px;
  cursor: pointer;
  border-radius: 4px;
}

#termsclose {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}